[submodule "Dependencies/logger"]
	path = Dependencies/logger
	url = git@github.com:yuydev-ru/logger.git
[submodule "Dependencies/engine"]
	path = Dependencies/engine
	url = git@github.com:yuydev-ru/engine.git
[submodule "Dependencies/json"]
	path = Dependencies/json
	url = git@github.com:yuydev-ru/json.git
[submodule "Dependencies/raylib"]
	path = Dependencies/raylib
	url = git@github.com:yuydev-ru/raylib.git
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = git@github.com:yuydev-ru/glm.git
